body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #624F81;
}

h1, h2, h3, h4, h5 {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

a {
    color: #624F81;
    text-decoration: none;
}

a:hover {
    color: #302740;
    cursor: pointer;
}

i {
    color: #624F81;
}

.card {
    border-radius: 1rem;
    padding: 0.2rem;
}

@media screen and (max-width: 700px) {
    .computer { display: none }
}

@media screen and (min-width: 701px) {
    .mobile { display: none }
}


/* Login Page */

.login-page {
    width: 100vw;
    height: 100vh;
    background: rgba(216, 191, 216, 0.32);
}

#login-card {
    padding: 0;
    position: absolute;
    top: calc(50% - 1rem);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 22.5rem;
    max-width: 80vw;
    border-radius: 1rem;
}

#login-card .card-body {
    padding: 2rem 4rem 1.5rem;
    background: rgba(216, 191, 216, 0.2);
}

#login-card .card-title {
    padding-top: 7px;
}

#login-card .card-header {
    background: rgba(216, 191, 216, 0.4);
    border-radius: 15px 15px 0 0;
}

#login-card .card-footer {
    background: rgba(216, 191, 216, 0.4);
    border-radius: 0 0 15px 15px;
}


/* Sidebar */

.sidebar {
    background: rgba(216, 191, 216, 0.32);
    padding: 2rem 1rem;
    height: 100vh;
    width: 22vw;
    color: #624F81;
    overflow: hidden;
    z-index: 1;
    position: fixed;
}

.sidebar a {
    width: calc(22vw - 2rem);
}

.sidebar a:hover {
    background: rgba(216, 191, 216, 0.4);
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {float: left;}
}

@media screen and (max-width: 450px) {
    .sidebar a {
        float: none;
        width: calc(100vw - 2rem);
    }
}

.nav-link {
    line-height: 2.5rem;
    padding: 0 1rem;
}

.logo h5 {
    padding: 0;
}

.logo {
    padding: 1rem 1rem 2rem;
}


/* Outlet */

.outlet {
    padding: 2rem;
    margin-left: 22vw;
}

.outlet-header {
    padding-bottom: 1rem;
}

.footer {
    padding: 2rem 0 0;
    text-align: center;
    color: slategrey;
    font-size: 0.8rem;
}

@media screen and (max-width: 450px) {
    .outlet {
        margin: 0;
    }
}


/* Dashboard */

@media only screen and (min-height: 750px) {
    .dashboard {
        max-height: calc(100vh - 2rem);
    }
}

.dashboard-header {
    padding-bottom: 1rem;
}

.recent-card .card {
    background: rgba(159, 115, 171, 0.32);
    border: transparent;
}

.card-title {
    color: #624F81;
    padding: 0;
}

.recent-box {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 0.5rem;
}

.greeting {
    max-width: 20rem;
}

.greeting-text {
    padding-top: 1.2rem;
}


/* Buttons */

.btn {
    padding: 0.5rem 2.5rem;
    border: 1px solid rgba(216, 191, 216, 1);
    border-radius: 2rem;
    color: #624F81;
}
.btn:hover {
    padding: 0.5rem 2.5rem;
    border: 1px solid rgba(216, 191, 216, 1);
    border-radius: 2rem;
    color: #624F81;
}

.delete-button {
    background: rgba(233, 234, 236, 0.65);
    border: rgba(233, 234, 236, 1);
}
.delete-button:hover {
    background: rgba(233, 234, 236, 1);
    border: rgba(233, 234, 236, 1);
}

.save-button:hover {
    background: rgba(216, 191, 216, 1);
}

.publish-button {
    background: rgba(216, 191, 216, 0.65);
}
.publish-button:hover {
    background: rgba(216, 191, 216, 1);
}

.category-btn {
    padding: 0 1rem;
    border-radius: 5px;
    background: rgba(216, 191, 216, 0.6);
}

.category-btn:hover {
    padding: 0 1rem;
    border-radius: 5px;
    background: rgba(216, 191, 216, 1);
}

.see-more-button {
    text-align: center;
    padding: 2rem;
}


/* Forms */

form {
    padding: 2rem 0;
}

.login-form {
    padding: 0;
}

.form-control {
    border-radius: 2rem;
}

.form-select {
    border-radius: 2rem;
}

.add-category {
    border-radius: 5px;
}

.search-icon {
    position: relative;
    top: 0.5rem;
}


/* Edit Page/Post/Testimonial */

.edit-buttons {
    padding-bottom: 1rem;
}

.fa-arrow-left {
    padding-top: 1.25rem;
}

.ql-editor{
    min-height: 60vh;
}

.edit-sidebar {
    background: rgba(216, 191, 216, 0.3);
    padding: 1rem;
}

@media screen and (max-width: 700px) {
    .edit-sidebar {
        margin-top: 2rem;
        padding: 1.5rem;
    }
}


/* Images */

.thumbnail-image {
    position: relative;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.square {
    position: relative;
    width: 100%;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.round-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    color: transparent;
    text-align: right;
    padding: 0.5rem;
}

.overlay:hover {
    color: white;
    background: rgba(98, 79, 129, 0.6);
}

.overlay i {
    color: white;
    padding: 5px;
    outline: #624F81;
}

.overlay i:hover {
    color: #624F81;
}

.selected-overlay, .select-overlay, .select-overlay:hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    text-align: right;
    padding: 0.5rem;
}

.select-overlay i {
    color: transparent;
}

.selected-overlay, .select-overlay:hover {
    background: rgba(98, 79, 129, 0.6);
}

.selected-overlay i, .select-overlay:hover i {
    transition: .5s ease;
    color: #302740;
}

.edit-pfp h5 {
    color: transparent;
}

.edit-pfp:hover {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(216, 191, 216, 0.6);
}

.edit-pfp:hover h5 {
    color: #302740;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(216, 191, 216, 1);
    border-radius: 0.5rem;
}

.modal-title {
    padding: 0;
}


/* Analytics */

.chart-container {
    width: 100%;
    height: 100%;
}

.analytics-overview .card {
    background: rgba(216, 191, 216, 0.32);
    border: transparent;
    padding: 0.5rem;
}

.analytics-line-graph {
    width: 100%;
    height: 30vh;
}